In [1]:
import pandas as pd
data = pd.read_csv("./btcusdt_data/btcusdt5m.csv")
data.head(20)

,Unnamed: 0,EMA,CMO,MINUSDM,PLUSDM,CLOSE,CLOSEL1,CLOSEL2,CLOSEL3,3O,CMB,UP_DOWN
0,20,9116.310286,-0.451817,52.425500,34.561000,9116.56,9123.21,9120.65,9125.00,0,0,1
1,21,9116.967401,4.076244,49.804225,38.422950,9123.21,9120.65,9125.00,9121.01,0,1,0
2,22,9117.318125,2.209265,47.314014,40.461803,9120.65,9125.00,9121.01,9126.85,0,0,1
3,23,9118.049732,5.249418,44.948313,38.438712,9125.00,9121.01,9126.85,9143.41,0,0,0
4,24,9118.331662,2.182280,43.430897,36.516777,9121.01,9126.85,9143.41,9135.70,0,0,1
5,25,9119.142933,6.385417,46.889353,34.690938,9126.85,9143.41,9135.70,9145.02,0,1,1
6,26,9121.454082,17.027227,44.544885,51.896391,9143.41,9135.70,9145.02,9136.89,1,0,0
7,27,9122.810836,10.851555,42.317641,49.301571,9135.70,9145.02,9136.89,9136.55,0,1,1
8,28,9124.925995,16.461056,40.201759,46.836493,9145.02,9136.89,9136.55,9135.74,0,1,0
9,29,9126.065424,10.099729,39.601671,44.494668,9136.89,9136.55,9135.74,9137.04,0,0,0
10,30,9127.063955,9.835625,37.621587,43.799935,9136.55,9135.74,9137.04,9133.20,0,0,0
11,31,9127.890245,9.178860,35.740508,41.609938,9135.74,9137.04,9133.20,9131.09,0,0,1
12,32,9128.761650,10.087147,33.953482,40.129441,9137.04,9133.20,9131.09,9135.11,0,0,0
13,33,9129.184350,6.767147,35.495808,38.122969,9133.20,9131.09,9135.11,9137.46,0,0,0
14,34,9129.365840,4.936703,35.191018,36.216821,9131.09,9135.11,9137.46,9130.42,0,0,1
15,35,9129.912903,8.096582,33.431467,37.455980,9135.11,9137.46,9130.42,9132.84,0,0,1
16,36,9130.631674,9.938686,31.759894,37.363181,9137.46,9130.42,9132.84,9132.94,1,0,0
17,37,9130.611515,3.402921,34.761899,35.495022,9130.42,9132.84,9132.94,9127.06,0,0,1
18,38,9130.823752,5.437085,33.023804,34.240271,9132.84,9132.94,9127.06,9126.90,0,0,1
19,39,9131.025299,5.523622,31.372614,32.528257,9132.94,9127.06,9126.90,9116.07,0,0,0

In [8]:
predictors = ["EMA", "CMO","MINUSDM", "PLUSDM", "CLOSE", "CLOSEL1", "CLOSEL2", "CLOSEL3", "3O", "CMB"]

X = data[predictors]
y = data.UP_DOWN

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
X_test.head()

,EMA,CMO,MINUSDM,PLUSDM,CLOSE,CLOSEL1,CLOSEL2,CLOSEL3,3O,CMB
16636,22850.317066,-25.643920,1809.154807,551.420172,22524.80,22695.72,22730.72,22681.32,0,0
22359,52104.780404,44.745184,537.791384,1633.323297,52872.54,52853.50,52934.29,52687.60,0,0
50341,49610.413778,-34.025228,2013.075894,477.898768,49082.75,49239.99,49255.57,49110.56,0,1
1749,9148.332826,-38.373758,84.707597,26.196269,9112.69,9123.20,9124.94,9121.02,0,0
4712,11789.689127,-10.808110,352.921932,177.266716,11792.52,11755.45,11771.12,11823.34,0,0

In [10]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X_train[predictors[0:-2]]) 

X_train[predictors[0:-2]] = scaler.transform(X_train[predictors[0:-2]])

X_test[predictors[0:-2]] = scaler.transform(X_test[predictors[0:-2]])
X_test.head()

,EMA,CMO,MINUSDM,PLUSDM,CLOSE,CLOSEL1,CLOSEL2,CLOSEL3,3O,CMB
16636,-0.772629,-1.376336,1.210594,-0.423608,-0.793120,-0.782357,-0.780157,-0.783284,0,0
22359,1.071168,2.247542,-0.436807,1.368629,1.119287,1.118085,1.123223,1.107692,0,0
50341,0.913958,-1.807835,1.474830,-0.545401,0.880468,0.890374,0.891396,0.882269,0,1
1749,-1.636213,-2.031712,-1.023902,-1.293672,-1.638304,-1.637651,-1.637571,-1.637845,0,0
4712,-1.469739,-0.612536,-0.676356,-1.043415,-1.469430,-1.471776,-1.470813,-1.467546,0,0

In [11]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(max_iter=200)

# fit the model with data
logreg.fit(X_train, y_train)

y_pred = logreg.predict(X_test)

In [12]:
from sklearn import metrics
from sklearn.metrics import classification_report

cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix
T = cnf_matrix[0][0]+cnf_matrix[1][1]
F = cnf_matrix[0][1]+cnf_matrix[1][0]
print(cnf_matrix)
print(metrics.accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[5951 1552]
 [1476 6263]]
0.8013384070331977
              precision    recall  f1-score   support

           0       0.80      0.79      0.80      7503
           1       0.80      0.81      0.81      7739

    accuracy                           0.80     15242
   macro avg       0.80      0.80      0.80     15242
weighted avg       0.80      0.80      0.80     15242